@import "tailwindcss";

@theme {
  --color-primary: #7F5AF0;
  --color-background: #0D0D0D;
  --color-accent: #654DD4;
  --color-text: #FFFFFF;
  --color-text-medium: #A1A1AA;
  --color-surface: #FFFFFF14;
}

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }
}